@charset "UTF-8";
html {
  font-size: 16px; }

body input, button, select, option {
  outline: none;
  text-indent: 10px;
  border: none; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

/*стили верхней полосы*/
.up-line {
  padding-bottom: 7px;
  padding-top: 8px; }

i {
  font-family: "icomoon"; }

.logo img {
  max-width: 100%;
  height: auto; }

/*styles of header*/
header {
  min-height: 695px;
  background: url("../img/bg-header.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .wrapper-header-left {
    margin-top: 47px; }
    header .wrapper-header-left .wrapper-caption {
      text-shadow: 0 5px 7px rgba(0, 4, 2, 0.89);
      color: #fefefe;
      font-family: "GothamProBold", sans-serif;
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.43rem;
      text-transform: uppercase; }
  header .owl-carousel .item {
    width: 378px;
    height: 345px;
    opacity: 0.82;
    background-color: #060c16;
    color: white;
    margin-bottom: 62px;
    margin-top: 35px;
    padding-left: 28px;
    padding-right: 19px;
    padding-top: 20px; }
    header .owl-carousel .item .quotes {
      font-size: 120px;
      line-height: 0px;
      position: relative;
      top: 42px;
      font-weight: 900;
      font-family: initial; }
    header .owl-carousel .item .main-text {
      text-align: left;
      font-family: "GothamProLight", sans-serif;
      font-weight: 300;
      color: white;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin: 0 0	45px; }
    header .owl-carousel .item .selected-text {
      color: #fcc508; }
      header .owl-carousel .item .selected-text span {
        font-size: 1.25rem;
        font-weight: 400; }
    header .owl-carousel .item .author {
      font-family: "GothamProLight", sans-serif;
      font-size: 0.874rem; }
      header .owl-carousel .item .author span {
        font-size: 1,125rem; }

/*styles of header's form*/
.text-right {
  padding-right: 0; }

.wrapper-header-right {
  max-width: 320px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 101px;
  text-align: center; }
  .wrapper-header-right .checkbox {
    margin-left: 40px;
    text-shadow: 0 1px 2.6px #000402;
    color: white;
    font-family: Arial;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    padding-right: 30px;
    text-align: left;
    margin-top: 0; }
  .wrapper-header-right .wrapper-caption-form {
    margin-right: -10px;
    text-shadow: 2.5px 4.3px 10px rgba(0, 4, 2, 0.94);
    color: #ffba00;
    font-family: "GothamProBold", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: 28px; }

input[type="text"], select {
  border-radius: 5px;
  border: 0;
  width: 320px;
  margin-bottom: 16px;
  height: 34px;
  background-color: white;
  box-shadow: inset 0.5px 0.9px 1px rgba(0, 4, 2, 0.75); }

input[name="kod"] {
  width: 56px;
  display: inline-block; }

input[name="telephone"] {
  width: 264px;
  display: inline-block; }

input[name="email"] {
  margin: 0 auto 16px;
  display: block; }

input[name=age] {
  zoom: 2;
  margin-top: -4px; }

input[type="checkbox"] {
  margin-top: 1px; }

select {
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "GothamProRegular", sans-serif;
  padding-top: 4px; }

.mybtn {
  position: relative;
  margin-bottom: 115px;
  border: 0;
  padding: 19px 5px;
  margin-top: 37px;
  width: 319px;
  height: 55px;
  background-color: #fda118;
  border-radius: 7px;
  background-image: linear-gradient(to top, rgba(0, 4, 2, 0.14) 0%, rgba(255, 255, 255, 0.14) 100%);
  box-shadow: 0 2px 0 #b7600d, inset 0 0 0 rgba(184, 191, 142, 0.34);
  text-shadow: 0 0 1px rgba(184, 191, 142, 0.49);
  color: #031e3d;
  font-family: "GautamiBold", sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase; }
  .mybtn:before {
    content: "";
    width: 20px;
    height: 18px;
    background: url("../img/star.png");
    position: absolute;
    top: -7px;
    left: 95%; }
  .mybtn:hover {
    background-color: #feca7d; }
  .mybtn:active {
    background-color: #e08702;
    border: none; }

/*styles of section*/
section.start {
  position: relative;
  padding-top: 97px; }
  section.start h1 {
    margin: 0 0 85px;
    padding: 0;
    text-align: center;
    color: #032141;
    font-family: "GothamProMedium",sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px; }
    section.start h1 span {
      font-size: 72px;
      font-family: "GothamProMedium",sans-serif;
      top: 9px;
      position: relative; }
  section.start .icon1, section.start .icon2, section.start .icon3 {
    background-repeat: no-repeat;
    position: relative;
    width: 229px;
    height: 210px;
    background: url("../img/icon1.png") center center;
    margin: 40px auto 0; }
  section.start .icon2 {
    background: url("../img/icon2.png") center center;
    width: 230px; }
  section.start .icon3 {
    background: url("../img/icon3.png") center center;
    width: 230px; }
  section.start .arrow {
    background-image: url("../img/arrow1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 24px;
    position: absolute;
    left: 77%;
    top: 13%; }
  section.start .arrow2 {
    background-image: url("../img/arrow2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 24px;
    position: absolute;
    left: 77%;
    top: 19%; }
  section.start h2 {
    text-align: center;
    color: #dc6411;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "GothamProMedium",sans-serif;
    margin: 40px 0 37px; }
  section.start p {
    color: #032141;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    font-family: "GothamProMedium",sans-serif; }
  section.start .icon2 + h2 {
    color: #189bdb; }
  section.start .icon3 + h2 {
    color: #68a625; }
    section.start .icon3 + h2:after {
      content: " s";
      color: white; }

section.why-us {
  position: relative;
  background: url("../img/bg-middle.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
  padding-bottom: 145px; }
  section.why-us .line {
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    /*background-size: contain*/
    height: 100%;
    width: 8%;
    left: 45.3%;
    bottom: -45%;
    background-size: 81% 50%;
    position: absolute; }
  section.why-us .mypb {
    margin-bottom: 75px; }
  section.why-us h1 {
    text-align: center;
    color: white;
    font-family: "GothamProMedium", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin: 0 0 45px;
    padding: 0; }
  section.why-us h4 {
    text-align: center;
    color: white;
    font-family: "GothamProMedium", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 82px; }
  section.why-us .wrapper-img {
    max-width: 175px;
    height: 165px;
    background: url("../img/icon21.png") center center no-repeat;
    background-size: contain; }
    section.why-us .wrapper-img.img2 {
      background: url("../img/icon22.png") center center no-repeat;
      background-size: contain; }
    section.why-us .wrapper-img.img3 {
      background: url("../img/icon23.png") center center no-repeat;
      background-size: contain; }
    section.why-us .wrapper-img.img4 {
      background: url("../img/icon24.png") center center no-repeat;
      background-size: contain; }

.wrapper-content-middle {
  text-align: right;
  font-family: "GothamProRegular", sans-serif;
  color: white;
  font-weight: 400; }
  .wrapper-content-middle.left {
    text-align: left; }
  .wrapper-content-middle .caption-content-middle {
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase; }
  .wrapper-content-middle .text-content-middle {
    font-size: 18px; }

section.whether {
  background: url("../img/bg-middle-bottom.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 30px; }
  section.whether h1 {
    text-align: center;
    color: #68a625;
    font-family: "GothamProMedium", sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 60px;
    margin: 0 0 75px; }
  section.whether ul {
    margin-bottom: 52px;
    list-style-type: none; }
    section.whether ul li {
      background: url("../img/buttonlist.png") left 1px no-repeat;
      font-family: "GothamProRegular", sans-serif;
      background-size: 60px 60px;
      margin-top: 40px;
      padding-bottom: 20px;
      color: #000f32;
      font-size: 30px;
      font-weight: 400;
      padding-left: 70px; }
  section.whether .button-down {
    width: 44px;
    height: 44px;
    background: url("../img/buttondown.png") center center no-repeat;
    margin: 0 auto; }
    section.whether .button-down a {
      width: 100%;
      height: 100%;
      display: block; }

section.form-registration {
  background: url("../img/bg-form-one.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 45px; }
  section.form-registration.two {
    background: url("../img/bg-form-two.jpg") center center no-repeat;
    background-size: cover; }
  section.form-registration h1 {
    margin: 0 0 36px 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1.7px 2px rgba(0, 4, 2, 0.75);
    color: #ffba00;
    font-family: "GothamProBold", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase; }
  section.form-registration .wrapper-main {
    border: 1px solid #ffba00;
    border-radius: 10px;
    margin: 0 150px;
    padding: 37px 40px 45px; }
    section.form-registration .wrapper-main .wrapper-up input[name="firstName"], section.form-registration .wrapper-main .wrapper-up input[name="lastName"] {
      width: 24%;
      padding: 6px 12px; }
    section.form-registration .wrapper-main .wrapper-up input[name="email"] {
      width: 49.1%;
      display: inline-block;
      padding: 6px 12px; }
    section.form-registration .wrapper-main .wrapper-down .mycheck {
      margin-top: 0;
      color: #ebebeb;
      font-family: Arial;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }
    section.form-registration .wrapper-main .wrapper-down select {
      width: 48.7%;
      display: inline-block; }
    section.form-registration .wrapper-main .wrapper-down input[name="kod"] {
      width: 10.4%;
      padding: 6px 12px; }
    section.form-registration .wrapper-main .wrapper-down input[name="telephone"] {
      padding: 6px 12px;
      width: 38%; }
    section.form-registration .wrapper-main .wrapper-down input[name="age"] {
      margin-left: 0;
      margin-right: 10px;
      vertical-align: bottom; }
    section.form-registration .wrapper-main button.mybtn {
      display: block;
      margin: 47px auto 0; }

section.access {
  position: relative;
  background: url("../img/bg-bottom.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 74px;
  text-align: center; }
  section.access h1 {
    padding: 0;
    margin: 0 0 70px;
    font-family: GothamPro; }
    section.access h1 span.gain {
      color: #7b0619;
      font-size: 55px;
      font-weight: 500; }
    section.access h1 span.array {
      color: #032141;
      font-size: 48px;
      font-weight: 400; }
    section.access h1 span.trading {
      color: #032141;
      font-size: 55px;
      font-weight: 500; }
  section.access .wrapper-main {
    font-family: "GothamProMedium", sans-serif;
    margin-bottom: 60px; }
    section.access .wrapper-main .wrapper-img {
      margin: 0 auto;
      max-width: 210px;
      height: 210px;
      background: url("../img/icon31.png") center center no-repeat;
      background-size: contain; }
      section.access .wrapper-main .wrapper-img.pic2 {
        background: url("../img/icon32.png") center center no-repeat;
        background-size: contain; }
      section.access .wrapper-main .wrapper-img.pic3 {
        background: url("../img/icon33.png") center center no-repeat;
        background-size: contain; }
      section.access .wrapper-main .wrapper-img.pic4 {
        background: url("../img/icon34.png") center center no-repeat;
        background-size: contain; }
      section.access .wrapper-main .wrapper-img.pic5 {
        background: url("../img/icon35.png") center center no-repeat;
        background-size: contain; }
    section.access .wrapper-main .wrapper-caption {
      margin: 40px 0 37px;
      color: #68a625;
      font-size: 21px;
      font-weight: 500;
      text-transform: uppercase; }
    section.access .wrapper-main .wrapper-text {
      color: #032141;
      font-size: 18px;
      font-weight: 400; }
      section.access .wrapper-main .wrapper-text span {
        font-size: 26px;
        font-weight: 400;
        line-height: 10px; }
  section.access .button-down {
    width: 44px;
    height: 44px;
    background: url("../img/buttondown.png") center center no-repeat;
    margin: 145px auto 0; }
    section.access .button-down a {
      display: block;
      width: 100%;
      height: 100%; }

.payments {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 53px;
  font-family: "GothamProRegular", sans-serif; }
  .payments h1 {
    padding: 0;
    margin: 0;
    color: #032141;
    font-size: 34px;
    font-weight: 400; }
  .payments img {
    max-width: 100%;
    height: auto;
    margin: 55px auto 90px; }
    .payments img.bot {
      margin: 55px auto 0; }

footer {
  background-color: #282828;
  padding-top: 30px;
  padding-bottom: 15px; }
  footer p {
    color: #a3a3a3;
    font-family: "GautamiRegular",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 5px 0;
    margin: 0 0 13px; }
  footer div {
    height: 1px;
    background-color: #c8c8c8;
    margin-bottom: 20px; }
